	<!-- Sidebar -->
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
			<li class="active"><a href="index.html"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li>
			<li><a href="github_link.html"><em class="fa fa-github">&nbsp;</em> GitHub</a></li>
		</ul>
	</div><!--/.sidebar-->
	
	
	<!-- Main -->
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		  
		<!-- Bread Crumb -->  
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Dash</li>
			</ol>
		</div><!-- /Bread Crumb -->  


		<!-- Page Title -->  
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Wonolo Data Dashboard </h1>
			</div>
		</div><!-- /Page Title -->
		
		
		<!-- Monthly Overview -->
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<%= "#{Date::MONTHNAMES[DateTime.now.month]}" %> - Job Overview 
						<span class="pull-right clickable panel-toggle"><em class="fa fa-toggle-up"></em></span></div>
					
					<div class="panel-body panel-container">
						<div class="row">
							<div class="col-xs-6 col-md-3 col-lg-3 no-padding">
								<div class="panel panel-teal panel-widget border-right">
									<div class="row no-padding">
										<div class="large", id='completed_count'>loading...</div>
										<div class="text-muted">Completed</div>
									</div>
								</div>
							</div>
							<div class="col-xs-6 col-md-3 col-lg-3 no-padding">
								<div class="panel panel-orange panel-widget border-right">
									<div class="row no-padding">
										<div class="large", id='in_progress_count'>loading...</div>
										<div class="text-muted">In Progress</div>
									</div>
								</div>
							</div>
							<div class="col-xs-6 col-md-3 col-lg-3 no-padding">
								<div class="panel panel-blue panel-widget border-right">
									<div class="row no-padding">
										<div class="large", id='no_show_count'>loading...</div>
										<div class="text-muted">No Shows</div>
									</div>
								</div>
							</div>
							<div class="col-xs-6 col-md-3 col-lg-3 no-padding">
								<div class="panel panel-red panel-widget ">
									<div class="row no-padding">
										<div class="large", id='cancelled_count'>loading...</div>
										<div class="text-muted">Cancelled</div>
									</div>
								</div>
							</div>
						</div><!--/row-->
					</div>
				</div>
			</div>
		</div><!-- /Monthly Overview -->


	
		<div class="row">
			<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						State: Completed / In Progress 
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body">

						<div class="canvas-wrapper">
							<canvas class="chart" id="bar-chart" height="300" width="600"></canvas>
						</div>
					</div>
				</div>
			</div><!--/Bar Chart-->


			<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						Job Type: Completed / In Progress 
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body">

						<div class="canvas-wrapper">
							<canvas class="chart" id="radar-chart" height="300" width="600"></canvas>
						</div>
					</div>
				</div>
			</div><!--/Radar Chart-->
		</div><!--/"row-->
		
		
		<div class="row">		
			<div class="col-md-12">
				<div class="panel panel-default ">
					<div class="panel-heading">
						Recently Completed Jobs
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body timeline-container">
						<ul class="timeline">
							<li>
								<div class="timeline-badge"><em class="fa fa-user-circle"></em></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="timeline-title"><% @timelineData[0][1] %> in <% @timelineData[0][3] %></h4>
									</div>
									<div class="timeline-body">
										<p><strong><% @timelineData[0][1] %> <% @timelineData[0][2] %></strong> completed a job with <strong><% @timelineData[0][5] %></strong> at <% @timelineData[0][0] %>.</p>
									</div>
								</div>
							</li>
							<li>
								<div class="timeline-badge primary"><em class="fa fa-user-circle"></em></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="timeline-title"><% @timelineData[0][1] %> in <% @timelineData[0][3] %></h4>
									</div>
									<div class="timeline-body">
										<p><strong><% @timelineData[0][1] %> <% @timelineData[0][2] %></strong> completed a job with <strong><% @timelineData[0][5] %></strong> at <% @timelineData[0][0] %>.</p>
									</div>
								</div>
							</li>
							<li>
								<div class="timeline-badge"><em class="fa fa-user-circle"></em></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="timeline-title"><% @timelineData[0][1] %> in <% @timelineData[0][3] %></h4>
									</div>
									<div class="timeline-body">
										<p><strong><% @timelineData[0][1] %> <% @timelineData[0][2] %></strong> completed a job with <strong><% @timelineData[0][5] %></strong> at <% @timelineData[0][0] %>.</p>
									</div>
								</div>
							</li>
							<li>
								<div class="timeline-badge primary"><em class="fa fa-user-circle"></em></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="timeline-title"><% @timelineData[0][1] %> in <% @timelineData[0][3] %></h4>
									</div>
									<div class="timeline-body">
										<p><strong><% @timelineData[0][1] %> <% @timelineData[0][2] %></strong> completed a job with <strong><% @timelineData[0][5] %></strong> at <% @timelineData[0][0] %>.</p>
									</div>
								</div>
							</li>
							<li>
								<div class="timeline-badge"><em class="fa fa-user-circle"></em></div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4 class="timeline-title"><% @timelineData[0][1] %> in <% @timelineData[0][3] %></h4>
									</div>
									<div class="timeline-body">
										<p><strong><% @timelineData[0][1] %> <% @timelineData[0][2] %></strong> completed a job with <strong><% @timelineData[0][5] %></strong> at <% @timelineData[0][0] %>.</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div><!--/.row-->

    </div>	<!--/Main-->
    
    <script>
    
	$.ajax({
        type: "GET",
        url: "data/charts",
        data: {},
        contentType: "application/json; charset=utf-8",
        success: function(data) {
            empStates = data[0][0];
            empStatesCompValues = data[0][1]
            empStatesInProgValues = data[0][2];
            
        	catStates = data[1][0];
            catCompValues = data[1][1]
            catInProgValues = data[1][2];
        	window.myBar = new Chart(bar_chart).Bar( 
        	{
        	labels : empStates,
			datasets : [
				{
					label: "Completed:",
					fillColor : "rgba(255,224,30,0.75)",
					strokeColor : "rgba(220,220,220,0.8)",
					highlightFill: "rgba(255,224,30,0.45)",
					highlightStroke: "rgba(220,220,220,1)",
					data : empStatesCompValues
					// data : [1,2,3]
				},
				{
					label: "In Progress:",
					fillColor : "rgba(220,220,220,0.65)",
					strokeColor : "rgba(220,220,220,0.8)",
					highlightFill : "rgba(220,220,220,0.35)",
					highlightStroke : "rgba(220,220,220,1)",
					data : empStatesInProgValues
					// data : [4,5,6]
				}],
        	},
				{
				responsive: true,
				scaleLineColor: "rgba(0,0,0,.2)",
				scaleGridLineColor: "rgba(0,0,0,.05)",
				scaleFontColor: "#c5c7cc"
			});
			
			window.myRadarChart = new Chart(radar_chart).Radar(
			{
			labels: catStates,
		    datasets: [
		        {
		            label: "Completed",
		            fillColor : "rgba(255,224,30,0.75)",
					strokeColor : "rgba(220,220,220,0.8)",
		            pointColor: "rgba(255,224,30,1)",
		            pointStrokeColor: "#fff",
		            pointHighlightFill: "#fff",
		            pointHighlightStroke: "rgba(220,220,220,1)",
		            data: catCompValues
		        },
		        {
		            label: "In Progress",
		            fillColor : "rgba(220,220,220,0.65)",
					strokeColor : "rgba(220,220,220,0.8)",
		            pointColor : "rgba(220,220,220, 1)",
		            pointStrokeColor : "#fff",
		            pointHighlightFill : "#fff",
		            pointHighlightStroke : "rgba(48, 164, 255, 1)",
		            data: catInProgValues
		        }],
        	},
				{
				responsive: true,
				scaleLineColor: "rgba(0,0,0,.05)",
				angleLineColor: "rgba(0,0,0,.2)"
				});
	        }
	    });


	var bar_chart = document.getElementById("bar-chart").getContext("2d");
	var radar_chart = document.getElementById("radar-chart").getContext("2d");


$("#completed_count").ready(    
    function getCompCount() {
   
    	$.ajax({
            type: "GET",
            url: "data/completed",
            data: {},
            contentType: "application/json; charset=utf-8",
            success: function(data) {
                // console.log(data);
                $("#completed_count").html(data);
            }
        })});
        
$("#in_progress_count").ready(    
    function getCompCount() {
   
    	$.ajax({
            type: "GET",
            url: "data/in_progress",
            data: {},
            contentType: "application/json; charset=utf-8",
            success: function(data) {
                // console.log(data);
                $("#in_progress_count").html(data);
            }
        })});  
        
$("#no_show_count").ready(    
    function getCompCount() {
   
    	$.ajax({
            type: "GET",
            url: "data/no_show",
            data: {},
            contentType: "application/json; charset=utf-8",
            success: function(data) {
                // console.log(data);
                $("#no_show_count").html(data);
            }
        })});   
        
$("#cancelled_count").ready(   
    function getCompCount() {
   
    	$.ajax({
            type: "GET",
            url: "data/cancelled",
            data: {},
            contentType: "application/json; charset=utf-8",
            success: function(data) {
                $("#cancelled_count").html(data);
            }
        })});
        
        
        
    </script>
	